<h1 class="container mb-3 mt-3">Employees</h1>

<table class="container table" *ngIf="employees && employees.length > 0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Salary</th>
      <th>Department</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.phone }}</td>
      <td>{{ employee.salary }}</td>
      <td>{{ employee.department }}</td>
      <td>
        <a [routerLink]="['employees', 'edit', employee.id]">View/Edit</a>
      </td>
    </tr>
  </tbody>
</table>

<p *ngIf="!employees || employees.length <= 0">!Table Not Found</p>
